<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zeonit.nclc">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".actvity.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait"
        >
        <activity
            android:name=".actvity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actvity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".actvity.LoginActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".actvity.Test"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".actvity.MemberActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".actvity.ChurchMemberAttendanceActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".actvity.NoticeActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".actvity.NoticeMemberAttendanceActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".actvity.ShowNoticeActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".actvity.ActivityUpdateAttendance"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".actvity.ActivityEvent"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".actvity.ActivityEventCreate"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".actvity.ActivityEventMembers"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".actvity.ActivityNoticeMembersUpdate"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".actvity.FirstActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity android:name=".actvity.VideoActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"

            >
        </activity>

        <activity android:name=".actvity.ActivityViewNoticeMember"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".actvity.ChannelActivity"
            android:label="NCLC YouTube Chanel"
            >
        </activity>

        <activity
            android:name=".actvity.ActivityYouTubeLive"
            android:label="NCLC YouTube Live"
            >
        </activity>

    </application>

</manifest>